@model ClienteProdutoViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid rounded border border-light mt-3 mb-3 p-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-client-tab" data-bs-toggle="tab" data-bs-target="#nav-client" type="button" role="tab" aria-controls="nav-client" aria-selected="true">Clientes</button>
            <button class="nav-link" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product" aria-selected="false">Produtos</button>
            <button class="nav-link" id="nav-sales-tab" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false">Vendas</button>                        
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-client" role="tabpanel" aria-labelledby="nav-client-tab">
            <div class="container mt-3 p-2">
                <button type="button" class="btn btn-success mt-2 d-inline" data-bs-toggle="modal" data-bs-target="#clientModalOperation" id="inserirCliente">Inserir cliente</button>               
                <partial name="_CargaApiPartial" />
                <partial name="_PesquisaPartial" model="@nameof(Model.Clientes)" />
            </div>
            <div id="nav-client-view">
                <partial name="/Views/Clientes/_ClientesPartial.cshtml" model="@Model.Clientes"/>
            </div>
        </div><!--nav-client-->        
        <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
            <div class="container mt-3 p-2">
                <button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#productModalOperation" id="inserirProduto">Inserir produto</button>
                <partial name="_CargaApiPartial"/>
                <partial name="_PesquisaPartial" model="@nameof(Model.Produtos)" />
            </div>
            <div id="nav-product-view">
                <partial name="/Views/Produtos/_ProdutosPartial.cshtml" model="@Model.Produtos" />
            </div>
        </div><!--nav-product-->
        <div class="tab-pane fade" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab">
            <div class="container mt-3 p-2">
                <button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#saleModalOperation" id="inserirVenda">Inserir venda</button>
                <partial name="_CargaApiPartial" />
                <partial name="_PesquisaPartial" model="@nameof(Model.Vendas)" />
            </div>
            <div id="nav-sales-view">
                 <partial name="/Views/Vendas/_VendasPartial.cshtml" model="@Model.Vendas" />
            </div>
        </div><!--nav-sales-->
    </div><!--nav-tabContent-->
</div>

<partial name="/Views/Clientes/_ModalPartialCliente.cshtml" />
<partial name="/Views/Produtos/_ModalPartialProduto.cshtml" />
<partial name="/Views/Vendas/_ModalPartialVenda.cshtml" model="@Model" />