@model RepositoryViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid rounded border border-light mt-3 mb-3 p-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-client-tab" data-bs-toggle="tab" data-bs-target="#nav-client" type="button" role="tab" aria-controls="nav-client" aria-selected="true">Clientes</button>
            <button class="nav-link" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product" aria-selected="false">Produtos</button>
            <button class="nav-link" id="nav-sales-tab" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false">Vendas</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-client" role="tabpanel" aria-labelledby="nav-client-tab">                
            <div class="container mt-3 p-2">
                
                <button type="button" class="btn btn-success mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#crudModalClient">
                    Inserir cliente
                </button>

                @using (Html.BeginForm("SearchClient", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar cliente" name="nmCliente" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" value="@ViewData["nmCliente"]">Pesquisar</button>
                        </div>
                    </div>
                }
            </div>
            <div class="container mt-3 p-2">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>                            
                            <th scope="col">Nome</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Ações</th>                            
                        </tr>
                    </thead>
                    @foreach (var cliente in Model.Clientes)
                    {
                        <tr>                            
                            <td>@cliente.NmCliente</td>
                            <td>@cliente.Cidade</td>
                            <td><span>
                            <button class="btn btn-warning" type="button" href="#">
                                        <img src="~/images/pencil_icon.png" height="20px">
                            </button> | </span>
                                <button class="btn btn-danger" onclick="confirmDelete(true, false)">
                                <img src="~/images/delete_ic_icon.png" height="20px">
                            </button>
                            </td>
                        </tr>
                    }
                </table>
            </div><!--container-->
        </div><!--nav-client-->
        <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
            <div class="container mt-3 p-2">
                @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar produto (Descrição)" name="dscProduto" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" value="@ViewData["dscProduto"]">Pesquisar</button>
                        </div>
                    </div>
                }
            </div>
            <div class="container mt-3 p-2">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor Unitário</th>
                            <th scope="col">Ações</th>                            
                        </tr>
                    </thead>
                     @foreach (var produto in Model.Produtos)
                    {
                        <tr>                            
                            <td>@produto.DscProduto</td>
                            <td>@produto.VlrUnitario.ToString("c")</td>
                            <td>
                                <span>
                                    <button class="btn btn-warning" type="button" href="#">
                                        <img src="~/images/pencil_icon.png" height="20px">
                                    </button> |
                                </span>
                                <button class="btn btn-danger" href="#" onclick="confirmDelete(false, true)">
                                    <img src="~/images/delete_ic_icon.png" height="20px">
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div><!--container-->
        </div><!--nav-product-->
        <div class="tab-pane fade" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab">
            @using (Html.BeginForm("SearchSaleClient", "Home", FormMethod.Post))
            {
                <div class="input-group mb-3 mt-2">
                    <input type="text" class="form-control" placeholder="Buscar pelo nome do cliente" name="nmClient" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" value="@ViewData["nmClient"]">Pesquisar</button>
                    </div>
                </div>
            }

            @using (Html.BeginForm("SearchSaleProduct", "Home", FormMethod.Post))
            {
                <div class="input-group mb-3 mt-2">
                    <input type="text" class="form-control" placeholder="Buscar pela descrição do produto" name="dscProduct" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" value="@ViewData["dscProduct"]">Pesquisar</button>
                    </div>
                </div>
            }
            <div class="container mt-3 p-2">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>                            
                            <th scope="col">Quantidade</th>
                            <th scope="col">Valor Unitário</th>
                            <th scope="col">Data</th>
                            <th scope="col">Total</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Ações</th>                            
                        </tr>
                    </thead>
                    @foreach (var venda in Model.Vendas)
                    {
                        <tr>
                            <td>@venda.QtdVenda</td>
                            <td>@venda.VlrUnitarioVenda.ToString("c")</td>
                            <td>@venda.DthVenda.ToString("g")</td>
                            <td>@venda.VlrTotalVenda.ToString("c")</td>
                            <td>@venda.Cliente.NmCliente</td>
                            <td>@venda.Produto.DscProduto</td>
                            <td>
                                <span>
                                    <button class="btn btn-warning" type="button" href="#">
                                        <img src="~/images/pencil_icon.png" height="20px">
                                    </button> |
                                </span>
                                <button class="btn btn-danger" href="#" onclick="confirmDelete(false, false)">
                                    <img src="~/images/delete_ic_icon.png" height="20px">
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div><!--nav-sales-->
    </div><!--nav-tabContent-->
</div>

<!-- Modal -->
<div class="modal fade" id="crudModalClient" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crudModalClientlLabel">Inserir cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control d-none clienteId">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                    <input type="text" class="form-control clienteNome">                               
                </div>                
                <p class="text-danger erroNomeCliente d-none"></p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cidade</span>
                    <input type="text" class="form-control cidadeNome">                    
                </div>                
                <p class="text-danger erroCidadeCliente d-none"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="fecharModal" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" id="inserirCliente" class="btn btn-primary">Inserir</button>
            </div>
        </div>
    </div>
</div>
