@model ClienteProdutoViewModel

<div id="sale-modal-wrapper">
    <div class="modal fade" id="saleModalOperation" tabindex="-1" aria-labelledby="saleModalOperationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saleModalOperationLabel">Inserir venda</h5>
                    <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label type="text" hidden class="form-control" id="sale-id"></label>
                        <div class="mb-3">
                            <label for="produtos" class="col-form-label">Produto</label>
                            <select id="product-id" onchange="setDropDownValue(this)" class="form-select produtos" aria-label="Selecione">
                                <option value="" selected>Selecione</option>
                                @foreach (var produto in Model.produtos)
                                {
                                    <option onclick="setValorUnitario(@produto.VlrUnitario.ToString().Replace(",", "."))" value="@produto.IdProduto">@produto.DscProduto</option>                                
                                }                            
                            </select>                        
                        </div>
                        <div class="mb-3">
                            <label for="clientes" class="col-form-label">Cliente</label>
                            <select id="client-id" onchange="setDropDownValue(this)" class="form-select clientes" aria-label="Selecione">
                                <option value="" selected>Selecione</option>
                                @foreach (var cliente in Model.clientes)
                                {
                                    <option value="@cliente.IdCliente">@cliente.NmCliente</option>
                                }
                            </select>
                        </div>
                        <div mb="mb-3">
                            <label for="qtd" class="col-form-label">Quantidade</label>
                            <input type="number" required onkeypress="return setOnlyNumbers(event, this, false)" onclick="setTotalValue($('#unity-value').val(), this.value)" value="0" min="0" class="form-control" id="sale-qtd">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="col-form-label">Valor unitário</label>                       
                            <input type="text" readonly placeholder="R$" class="form-control" id="unity-value">
                        </div>
                        <div class="mb-3">
                            <label for="number" class="col-form-label">Total</label>
                            <input type="number" readonly placeholder="R$" min="0" step="0.00" class="form-control" id="total-value">
                        </div>
                        <input type="reset" hidden class="btn btn-primary reset-fields">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fechar" onclick="resetAll()" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" id="inserirVendaModal" onclick="inserirDadosVenda()" class="btn btn-primary">Salvar</button>                
                </div>
            </div>
        </div>
    </div>
</div>