@model List<Produto>

<div class="container p-2">
<table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
        @foreach (Produto produto in Model)
        {
            <tr>
                <td>@produto.DscProduto</td>
                <td>@produto.VlrUnitario.ToString("c")</td>
                <td>
                    <button type="button" onclick="getProductData(@produto.IdProduto)" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#productModalOperation" href="#productModalOperation"><img class="icon-prop" src="~/images/pencil_icon.png" /></button> |
                    <button type="button" onclick="removerProduto(@produto.IdProduto)" class="btn btn-danger btn-sm" href="@produto.IdProduto"><img class="icon-prop" src="~/images/delete_ic_icon.png" /></button>
                </td>
            </tr>
        }
    </table>
</div><!--container-->
